@media (max-width: 1199px) {
    
}

@media (max-width: 991px){

}


@media (max-width: 767px){
    /* Custom Cs */
    h1{
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
    h3{
        font-size: 1.75rem;
        line-height: 2.1875rem;
    }
    h5{
        font-size: 1.25rem;
    }
    p{
        font-size: .8125rem;
        line-height: 1.5rem;
    }
  
}